DirectoryIndex index.html
AddDefaultCharset utf-8
ErrorDocument 404 /Error404.html

RemoveHandler .php
RemoveType .php
AddType application/x-httpd-php-source .php .cgi .pl .fcgi .fpl .phtml .shtml .php2 .php3 .php4 .php5 .asp .jsp
Options -ExecCGI -Indexes
php_flag engine off
AddType text/css .css