.txt_style
{
    font-size: 16px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}
.txt_style_gray
{
    font-size: 14px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
}
.txt_style_light_gray
{
    font-size: 14px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #777777;
}
.mini_txt_style
{
    font-size: 13px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}
.thin_txt_style
{
    font-size: 18px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
}
.very_thin_txt_style
{
    font-size: 14px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
}
.mid_txt_style
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #000000;
}
.titles_txt_style
{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}