@import url(RedTxt.css);
@import url(BlackTxt.css);
body
{
    background-image: url(/pic/fon21.jpg);
    background-repeat: repeat-x;
}
a:link
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: #B71822;
}
a:active
{
    text-decoration: none;
}
.body_page_style
{
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: 100% 100%;
    background-image: url(/pic/fon-tabl3.gif);
    border: thin dashed #B71822;
}
.news_table_bottom
{
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #999999;
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: #999999;
}
.for_creators_style
{
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
