#header {
    width: calc(100vw - 25px);
    height: 15vh;
}

#header * {
    height: 15vmin;
}

#main-info {
    width: calc(50vw - 20px);
    height: calc(85vh - 25px);
    float: left;
}

#halls-and-schedule {
    width: calc(50vw - 20px);
    height: calc((85vh - 25px) / 2);
    float: left;
}

#archive {
    width: calc(25vw - 11px);
    height: calc((85vh - 25px) / 2 - 2px);
    float: left;
}

#vk-news {
    width: calc(25vw - 11px);
    height: calc((85vh - 25px) / 2 - 2px);
    float: left;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.container-border {
    border: 1px solid black;
}